#navbar{
    width: 300px;
    position: fixed;
    height: 100%;
    border-right: solid;
    border-color: aquamarine;
}
#main-doc{
    margin-left:330px ;
}
header{
    color: black;
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
#navbar ul{
    padding: 0;
}
#navbar li{
    border-top: solid;
    color: 1px black;
    width: 100%;
}
#navbar a{
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
@media (max_width:316px) {
    background-color: blue;
}